<h1>
  All Actors
</h1>

<div class="parent">
  <% @count = 1 %>
    <% @actors.each do |actor| %>
      <div class="div<%= @count %>"><img src="<%= actor.pic %>" alt="profile pic" width="200" height=""><br>
      <%= link_to actor.name, actor_path(actor) %><br>
      Age: <%= actor.age %><br>
      <br>
      <% @count += 1 %>
      </div>
    <% end %>

</div>