<h1>All Auditions</h1>
<% @auditions.each do |audition| %>
    Production: <%= audition.event.title %><br>
    Actor Name: <%= audition.actor.name %><br>
    Time: <%= audition.time.strftime("%I:%M %p")  %><br>
    Location: <%= audition.event.location  %><br>
    <br>
<% end %>