<h1>
    Request Sent
</h1>
<br>
<div>
    Event: <%= @request.event.title %><br>
    Actor: <%= @request.actor.name %><br>
    Requested Time: <%= @request.requested_time.strftime("%I:%M %p") %><br>
</div>

<div>
    <%= button_to "See All Requests", requests_path, method: :get, :class => "btn btn-outline-primary mt-3" %>
</div>