<h1>Welcome Actors!</h1>

<% if current_actor %>
  <h1>Welcome <%= current_actor.name %>!</h1>
<% else %>
<%= link_to 'Sign Up', new_actor_registration_path %>

<%= link_to 'Log In', new_actor_session_path %>
<% end %>