<h1>Welcome Casting Agents!</h1>

<% if current_casting_agent %>
  <h1>Welcome <%= current_casting_agent.username %>!</h1>

<% else %>
  <%= link_to 'Sign Up', new_casting_agent_registration_path %>

  <%= link_to 'Log In', new_casting_agent_session_path %>
<% end %>