<h1>Welcome to Audition App!</h1>

<h3>Casting Agents</h3>
<%= button_to 'Casting Agents', pages_casting_agent_home_path, method: :get %>

<h3>Actors</h3>
<%= button_to 'Actors', pages_actor_home_path, method: :get %>