<h1>
  Casting Agents
</h1>

<div class="parent mt-5">
  <% @count = 1 %>
    <% @casting_agents.each do |agent| %>
      <div class="div<%= @count %>"><img src="<%= agent.pic %>" alt="profile pic", class="mb-2 pics rounded border"><br>
      <%= link_to agent.name, casting_agent_path(agent) %><br>
      Agency: <%= agent.agency %><br>
      <br>
      <% @count += 1 %>
      </div>
    <% end %>

</div>