<div class="container" id="casting">
    <div class="row">
        <div class="col-3">
            <% if @casting_agent.pic %>
                <img src="<%= @casting_agent.pic %>" alt="profile pic" width="200" height="">
            <% else %>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZ-DmIegqV6NuZRRdNs2sxqmYI39YksNtj7Q&usqp=CAU" width="200">
            <% end %><br></div>
        <div class="col-9" id="casting">
            <h1 id="casting"><%= @casting_agent.name %></h1>
            Agency: <%= @casting_agent.agency %><br>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            Events:<br>
            <% @casting_agent.events.each do |event| %>
                <%= link_to event.title, event_path(event) %><br>
            <% end %>
        </div>
        <div class="col-9" id="casting">
            About: <br>
            <br>
        </div>
    </div>
</div>


<%#https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Bill_Murray-8882.jpg/1200px-Bill_Murray-8882.jpg%>