<h1><%= @casting_agent.name %></h1>
Profile Pic: <br>
Agency: <%= @casting_agent.agency %><br>
About: <br>
<br>

Events:
<ul>
<% @casting_agent.events.each do |event| %>
    <li><%= link_to event.title, event_path(event) %></li>
<% end %>
</ul>